<h1>Listing medicaldevices</h1>

<table>
  <thead>
    <tr>
      <th>Pmak number</th>
      <th>Applicant</th>
      <th>Street1</th>
      <th>Street2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Generic name</th>
      <th>Trade name</th>
      <th>Product code</th>
      <th>Advisory committee</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @medicaldevices.each do |medicaldevice| %>
      <tr>
        <td><%= medicaldevice.pmak_number %></td>
        <td><%= medicaldevice.applicant %></td>
        <td><%= medicaldevice.street1 %></td>
        <td><%= medicaldevice.street2 %></td>
        <td><%= medicaldevice.city %></td>
        <td><%= medicaldevice.state %></td>
        <td><%= medicaldevice.zip %></td>
        <td><%= medicaldevice.generic_name %></td>
        <td><%= medicaldevice.trade_name %></td>
        <td><%= medicaldevice.product_code %></td>
        <td><%= medicaldevice.advisory_committee %></td>
        <td><%= medicaldevice.description %></td>
        <td><%= link_to 'Show', medicaldevice %></td>
        <td><%= link_to 'Edit', edit_medicaldevice_path(medicaldevice) %></td>
        <td><%= link_to 'Destroy', medicaldevice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicaldevice', new_medicaldevice_path %>
