<%= render 'layouts/search' %>

<%= link_to 'Add a new Medical Device', new_medicaldevice_path, :class => 'btn btn-primary'  if manufacturer_signed_in? %>

<div id="device-box">     
      <% if @medicaldevices.present? %>

      <h1>Listing medicaldevices</h1>

              <table>
                <thead>
                  <tr>
                    <th>Device Image </th>
                    <th>Generic Name</th> 
                    <th>Trade name</th>
                    <th>Manufacturer</th>
                  </tr>
                </thead>

                <tbody>
                    <% @medicaldevices.each do |medicaldevice| %>
                    
                          <tr height = "60px" class= "<%= cycle('list_line_odd', 'list_line_even') %>">
                            <td>
                              <%= link_to image_tag(medicaldevice.image_url, class: 'deviceimage-thumbnail'),medicaldevice_path(medicaldevice)%>
                            </td>
                            <td>
                              <%= link_to medicaldevice.generic_name, medicaldevice_path(medicaldevice) %>
                            </td>
                            <td>
                              <% if medicaldevice.generic_name.present? %>
                              <%= medicaldevice.trade_name %>
                              <%else %>
                               <%= link_to medicaldevice.trade_name, medicaldevice_path(medicaldevice)%>
                               <%end %>
                            </td>

                            <td>
                              <%= medicaldevice.applicant %>
                            </td>
                          </tr>
                        <% end %>
                </tbody>

              </table>
      <% else %>
      <div>Sorry! No Devices Found. Please Contact Us for More info.</div>
      <% end %>

      <br>

      <%= link_to 'Back to Home Page', root_path, :class => 'btn btn-primary' %>
</div>
