<%= render 'layouts/search' %>

<h1>Listing Medical Devices</h1>
<% if @medicaldevices.present? %>
<table>
  <thead>
    <tr>
      <th>Image </th>
      <th>Device </th>
      <th>Applicant/Manufacturer</th>
      <th>Generic name</th>
      <th>Trade name</th>
      <th>PMA/PMN Number</th>
    </tr>
  </thead>

  <tbody>
    <% @medicaldevices.each do |medicaldevice| %>
      <tr>
        <td><%= image_tag medicaldevice.image_url%></td>
        <td><%= link_to medicaldevice.generic_name, medicaldevice_path(medicaldevice) %></td>
        <td><%= medicaldevice.applicant %></td>
        <td><%= medicaldevice.generic_name %></td>
        <td><%= medicaldevice.trade_name %></td>
        <td><%= medicaldevice.pmak_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
<div>No Medical Devices Found.</div>
<% end %>

</br>

<%= link_to 'Back to Medicaldevices', medicaldevices_path, :class => 'btn btn-primary' %>
