<%- model_class = Medicaldevice -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:generic_name) %></th>
      <th><%= model_class.human_attribute_name(:trade_name) %></th>
      <th><%= model_class.human_attribute_name(:applicant) %></th>
      <th><%= model_class.human_attribute_name(:product_code) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @medicaldevices.each do |medicaldevice| %>
      <tr>
        <td><%= link_to medicaldevice.id, medicaldevice_path(medicaldevice) %></td>
        <td><%= link_to medicaldevice.generic_name, medicaldevice_path(medicaldevice) %></td>
        <td><%= medicaldevice.trade_name %></td>
       <td><%= medicaldevice.applicant %></td>
        <td><%= medicaldevice.product_code %></td>
        <td><%= truncate(medicaldevice.description, :length =>40) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_medicaldevice_path(medicaldevice), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      medicaldevice_path(medicaldevice),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_medicaldevice_path,
            :class => 'btn btn-primary' %>
