<%- model_class = Medicaldevice -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:pmak_number) %>:</strong></dt>
  <dd><%= @medicaldevice.pmak_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:applicant) %>:</strong></dt>
  <dd><%= @medicaldevice.applicant %></dd>
  <dt><strong><%= model_class.human_attribute_name(:street1) %>:</strong></dt>
  <dd><%= @medicaldevice.street1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:street2) %>:</strong></dt>
  <dd><%= @medicaldevice.street2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @medicaldevice.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @medicaldevice.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zip) %>:</strong></dt>
  <dd><%= @medicaldevice.zip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:generic_name) %>:</strong></dt>
  <dd><%= @medicaldevice.generic_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trade_name) %>:</strong></dt>
  <dd><%= @medicaldevice.trade_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_code) %>:</strong></dt>
  <dd><%= @medicaldevice.product_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:advisory_committee) %>:</strong></dt>
  <dd><%= @medicaldevice.advisory_committee %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @medicaldevice.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              medicaldevices_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_medicaldevice_path(@medicaldevice), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              medicaldevice_path(@medicaldevice),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
