<p id="notice"><%= notice %></p>

<p>
  <strong>Pmak number:</strong>
  <%= @medicaldevice.pmak_number %>
</p>

<p>
  <strong>Applicant:</strong>
  <%= @medicaldevice.applicant %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @medicaldevice.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @medicaldevice.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @medicaldevice.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @medicaldevice.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @medicaldevice.zip %>
</p>

<p>
  <strong>Generic name:</strong>
  <%= @medicaldevice.generic_name %>
</p>

<p>
  <strong>Trade name:</strong>
  <%= @medicaldevice.trade_name %>
</p>

<p>
  <strong>Product code:</strong>
  <%= @medicaldevice.product_code %>
</p>

<p>
  <strong>Advisory committee:</strong>
  <%= @medicaldevice.advisory_committee %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medicaldevice.description %>
</p>

<%= link_to 'Edit', edit_medicaldevice_path(@medicaldevice) %> |
<%= link_to 'Back', medicaldevices_path %>
