<div class= "search-box">
  <%= render 'layouts/search' %>
</div>


<p id="notice"><%= notice %></p>

  <div class ="container">
                          <div class= "col-md-4 col-sx-5">
                            <h4><strong>DEVICE IMAGE:</strong></h4> 
                              <div class="device-image">
                                <% if @medicaldevice.image? %>
                                    <%= image_tag @medicaldevice.image.url.to_s %>
                                    <% else %>
                                    <%= image_tag("default.jpg", :alt => "default image") %>
                                    <% end %> 
                              </div>
                          </div>
                        

                    <div class= "col-md-8 col-sx-7">
                          
                        <h5><strong>Trade Name:</strong></h5> 
                        <p><h4><%= @medicaldevice.trade_name %></h4></p>
                                              
                        <h5><strong>Generic Name:</strong></h5>
                        <p><h4> <%= @medicaldevice.generic_name %> </h4></p>
                        
                    
                        <h5><strong>Manufacturer/Applicant:</strong></h5>
                        <p><%= @medicaldevice.applicant %></p>

                        <h4><strong>Description:</strong></h4>
                        <p><%= @medicaldevice.description %></p>

                        <p>
                          <strong>PMN or PMA number:</strong>
                          <%= @medicaldevice.pmak_number %>
                        </p>

                         <p>
                          <strong>Product code:</strong>
                          <%= @medicaldevice.product_code %>
                        </p>

        

                        <p><strong> Manufacturer Adress: </strong></p>

                        <p>
                          <strong>Street1:</strong>
                          <%= @medicaldevice.street1 %>
                        </p>

                        <p>
                          <strong>Street2:</strong>
                          <%= @medicaldevice.street2 %>
                        </p>

                        <p>
                          <strong>City:</strong>
                          <%= @medicaldevice.city %>
                        </p>

                        <p>
                          <strong>State:</strong>
                          <%= @medicaldevice.state %>
                        </p>

                        <p>
                          <strong>Zip:</strong>
                          <%= @medicaldevice.zip %>
                        </p>

                        <p>
                          <strong>Advisory committee:</strong>
                          <%= @medicaldevice.advisory_committee %>
                        </p>
                  </div>

              <div class="col-md-8">
                <p>
                    <Strong><h3> Device Video: </h3></Strong>
                </p>
              </div>

              <div class="col-md-4">
                <p>
                    <Strong><h5> Related Devices Videos: </h5></Strong>
                </p>


                    <div class="device-video">
                        <% @medicaldevice.videourls.each do |videourl| %>
                          <tr>
                            <td><%= videourl.title %></td>
                            <td><%= videourl.body_html %></td>
                            <td><%= videourl.description %></td>
                          </tr>
                        <% end %>
                    </div>

              </div>
              
              <div class="col-md-8">

                 <p>
                    <Strong><h3> Device Reviews: </h3></Strong>
                  </p>
                   <% @medicaldevice.device_reviews.each do |review| %>
                    <p> <%= review.content %> </p> 
                   <p>by: <%= review.user.username %> </p>
                  <% end %>

                    <%= render partial: 'device_reviews/form' %>

              </div>
    <div>
        <%= link_to 'Back to Home', root_path %>
    </div>
          
  
  </div> <!-- end container>

