<div id="container2">
          <div class="rotator-box">
            <a class="rotator" ><img class ="rotator" src ="/assets/welcome2.png" alt="device welcome" ></a>
            <div class="arrow-button">
                <ul> 
                  <li>140,250 Listed Medical devices </li>
                  <li>230 How to Use Instructions </li>
                  <li>136 How to Use Videos </li>
                </ul>
            </div>
          </div>
</div>

        <div class="rotator-bottom">
        </div>



<div class= "search-box">
  <%= render 'layouts/search' %>
</div>

<div id="device-box">

      <% if @medicaldevices.present? %>

      <h1>Medical Devices Directory</h1>

      <table>
        <thead>
          <tr>
            <th>Device Image </th>
            <th>Generic Name</th> 
            <th>Trade name</th>
            <th>Manufacturer</th>
          </tr>
        </thead>

        <tbody>
            <% @medicaldevices.each do |medicaldevice| %>
            
                  <tr height = "50px" class= "<%= cycle('list_line_odd', 'list_line_even') %>">
                    <td width= "80px">
                      <%= image_tag(medicaldevice.image_url, class: 'deviceimage-thumbnail')%>
                    </td>
                    <td>
                      <%= link_to medicaldevice.generic_name, medicaldevice_path(medicaldevice) %>
                    </td>
                    <td>
                      <% if medicaldevice.generic_name.present? %>
                      <%= medicaldevice.trade_name %>
                      <%else %>
                       <%= link_to medicaldevice.trade_name, medicaldevice_path(medicaldevice)%>
                       <%end %>
                    </td>

                    <td>
                      <%= medicaldevice.applicant %>
                    </td>
                  </tr>
                <% end %>
        </tbody>
      </table>
      <% else %>
      <div>Sorry! No Devices Found. Please Contact Us for More info.</div>
      <% end %>

      <br>

      <%= link_to 'Home', root_path, :class => 'btn btn-primary' %>
</div>
