<p>
	This is for device reviews
 </p>

 <%= form_for @device_review do |f| %>
  <%= f.hidden_field :medicaldevice_id %>
  <%= f.hidden_field :user_id %>
  <%= f.label :content, 'Text' %>:
  <%= f.text_field :content %><br />
  <%= f.submit %>
  <%= @device_review.errors.full_messages %>
<% end %>