<div class="rows">
	<div class="container">

			<% content_for :title do %>Contact<% end %>
			 <div class="panel panel-default">
  				<div class="panel-heading">
    				<h1>Contact Us</h1>
  				</div>

  				<div class="panel-body">
  					<div class="col-md-6">
				 		<%= simple_form_for @contact do |f| %>
				 				<%= f.error_notification %>
				 				<div class="form-group">
					  				<%= f.label :name  %>
					  				<%= f.input_field :name, autofocus: true, class: "form-control" %>
					  			</div>
					   
							  <div class="form-group">
							  	<%= f.label :email %>
				        		<%= f.email_field :email, autofocus: true, class: "form-control" %>
							  </div>


							  <div class="form-group">
							  	<%= f.label :content %>
				        		<%= f.input_field :content, as: :text, :input_html => {:rows => 4}, class: "form-control" %>
							  </div>

				 				<div class="form-group">
			        				<%= f.submit "Submit", class: "btn btn-success" %>
			      				</div>
				 		<% end %>
				 	</div>
				</div>
			</div>
	</div>
</div>