	<div class="navbar navbar-fixed-top">
			  <div class="navbar-inner">
				    <div class="container">
				      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </a>
				      <a class="brand">Medical Device Hub</a>
				      <div class="nav-collapse">
				        <ul class="nav">
				          <li><%= link_to "Medical Devices", root_path %></li>
				          <li><%= link_to "About" , about_path %></li>
				          <li><%= link_to "Contact Us" %></li>
				        </ul>
				        <ul class="nav pull-right">
	                      		<% if user_signed_in? %>
	                      		Logged in as <strong><%= current_user.email %></strong>
	                        		<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	                       			<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	                      		<% else %>
	                      			<li><%= link_to "Sign up", new_user_registration_path %></li>
	                    			<li><%= link_to "Login", new_user_session_path %></li>
	                      		<% end %>
            			</ul>
				      </div>
				    </div>
			  </div>
		</div>